@import '../../../assets/scss/base';

.dashboard-container {
  padding: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  a {
    @include radius(3px);
    padding: 80px 40px;
    flex: 0 0 25%;
    border: 1px solid $border-color;
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    background: #ccc;
    color: $b;
    font-size: 1.2rem;

    &:hover {
      @include box-shadow(0, 0, 15px, 0, 0, 0, 0.35);
      background: lighten($primary, 25%);
      padding-top: 70px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .dashboard-container {
    justify-content: space-evenly;

    a {
      flex: 0 0 30%;
    }
  }
}
